*{
    margin: 0;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: #111;
}
#logo{
    margin-top: 8px;
    width: 90px;
    position: fixed;
    left: 20px;
}
#avatar{
    margin-top: 8px;
    position: fixed;
    right: 20px;
    width: 30px;
}